.printonly {
    @apply hidden;
}

@media print {
    html, body {
        min-height: initial !important;
        overflow-x: initial !important;
        overflow-y: initial !important;
        height: 100% !important;
    }

    main#app {
        @apply block !important;
    }

    .character {
        display: table !important;
        break-inside: avoid;
        margin-bottom: 0.5rem !important;

        &:not(:first-child) {
            .character__card__container {
            }
        }
    }

    .character__card__container {
        margin-bottom: 0 !important;
        break-inside: avoid;
        display: inline-block !important;
    }

    .character__expander {
        display: table !important;
        flex-wrap: wrap;
        height: auto !important;
        padding: 0 !important;
    }

    .character__card {
        margin-bottom: 0.25rem !important;
        break-inside: avoid;
        display: inline-block !important;
    }

    .noprint {
        @apply hidden !important;
    }

    .printonly {
        @apply block !important;
    }

    .avoidbreak {
        break-inside: avoid;
    }

    .printblock {
        @apply block !important;
    }
}
