.printonly {
    @apply hidden;
}

@media print {
    html, body {
        min-height: initial !important;
        overflow-x: initial !important;
        overflow-y: initial !important;
    }

    main#app {
        @apply block !important;
    }

    .character {
        display: block !important;
        break-inside: avoid;

        &:not(:first-child) {
            .character__card__container {
                break-before: page !important;
            }
        }
    }

    .character__card__container {
        break-inside: avoid;
        display: block !important;
    }

    .character__card {
        break-inside: avoid;
        display: block !important;
    }

    .noprint {
        @apply hidden !important;
    }

    .printonly {
        @apply block !important;
    }

    .avoidbreak {
        break-inside: avoid;
    }

    .printblock {
        @apply block !important;
    }
}
